.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;
  background: #f6f6f6;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-bottom: 0px;
  }
}
.httpApiFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-bottom: 25px;
  height: auto;
  min-width: 0;
}
.head:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__kOy7O {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 1024px;
  max-width: 100%;
  align-self: stretch;
  background: #eaeaea;
  padding-top: 0px;
  left: 0px;
  top: 0px;
  margin-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kOy7O {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 891px;
  }
}
.freeBox__oxMvR {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-top: 0px;
  min-width: 0;
  padding: 15px 10px;
}
.img__nDtG5 {
  object-fit: cover;
  max-width: 100%;
  height: 56px;
  flex-shrink: 0;
}
.img__nDtG5 > picture > img {
  object-fit: cover;
}
.img__nDtG5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__moK19 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__moK19 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__moK19 {
    padding-bottom: 0px;
    padding-top: 8px;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__moK19 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__geIkw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.columns__fcvqx {
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 20px;
}
.columns__fcvqx > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.columns__fcvqx > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 10px) * 5 / 12);
}
.columns__fcvqx > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 10px) * 7 / 12);
}
.columns__fcvqx > :global(.__wab_flex-container) > *,
.columns__fcvqx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__fcvqx > :global(.__wab_flex-container) > picture > img,
.columns__fcvqx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fcvqx {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fcvqx > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fcvqx > :global(.__wab_flex-container) > :nth-child(2n + 1) {
    width: calc((100% - 2 * 10px) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fcvqx > :global(.__wab_flex-container) > :nth-child(2n + 2) {
    width: calc((100% - 2 * 10px) * 6 / 12);
  }
}
.column___4472Y {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-top: 0px;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___4472Y {
    padding-right: 0px;
    opacity: 1;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
  }
}
.img__xNf49 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 196px;
  height: 175px;
  margin-right: 0px;
  align-self: flex-end;
  flex-shrink: 0;
  border-radius: 10px;
}
.img__xNf49 > picture > img {
  object-fit: cover;
}
.img__xNf49 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__xNf49 {
    align-self: flex-start;
    width: 170px;
    margin-left: 0px;
  }
}
.column__lJ7Hv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lJ7Hv {
    padding-bottom: 0px;
  }
}
.text__cTHmg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 35px;
  font-weight: 800;
  color: #000000;
  padding-bottom: 10px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cTHmg {
    display: none;
  }
}
.text__xYwy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 25px;
  font-weight: 600;
  color: #000000;
  padding-bottom: 10px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xYwy {
    display: none;
  }
}
.text__fj2DY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fj2DY {
    display: block;
  }
}
.text__soMg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
  font-size: 12px;
  font-style: italic;
  margin-bottom: 10px;
  min-width: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__soMg {
    display: block;
  }
}
.text___6BuYh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 20px;
  font-weight: 300;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___6BuYh {
    font-size: 9px;
    font-weight: 600;
  }
}
.columns__eGpt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__eGpt > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eGpt {
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eGpt > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___7TqsT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__qe6Gw {
  display: block;
  position: relative;
  width: 38%;
  height: auto;
  max-width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-self: center;
  padding: 6px 0px 63px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qe6Gw {
    margin-right: 0px;
    align-self: center;
    width: 85%;
    position: relative;
    left: auto;
    top: auto;
    padding-bottom: 67px;
  }
}
.button__nuCo {
  position: absolute;
  width: 44.79%;
  height: 50px;
  color: #ffffff;
  background: #f70000;
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  left: 178px;
  top: 6px;
  z-index: 1;
  padding-bottom: 10px;
  display: block;
  border-radius: 10px;
  margin: 5px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__nuCo {
    left: 51px;
    top: 13px;
    width: 70%;
    display: block;
    margin: 0px 0px 5px;
  }
}
.form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 675px;
  height: 533px;
  max-width: 100%;
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
  flex-shrink: 0;
  border-radius: 20px;
  margin: 20px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .form {
    padding-top: 0px;
    height: 460px;
    margin-top: 41px;
    flex-shrink: 0;
  }
}
.text__okxvU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  color: #000000;
  padding-top: 40px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__okxvU {
    padding-top: 20px;
  }
}
.text__eQxxl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 10px;
  min-width: 0;
}
.textInput__opAz9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 400px;
  margin-top: 60px;
  height: 60px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInput__opAz9:global(.__wab_instance) {
    margin-top: 38px;
    width: 350px;
  }
}
.svg__zEuHj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__bY4Lz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.textInput__eKwe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 60px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInput__eKwe:global(.__wab_instance) {
    width: 350px;
  }
}
.svg__fa8AY {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__xCaT2 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.textInput__qPjPo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 400px;
  height: 60px;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .textInput__qPjPo:global(.__wab_instance) {
    width: 350px;
  }
}
.svg__xmV {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___6KA73 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__qzzCx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 400px;
  margin-top: 10px;
  height: 60px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__qzzCx:global(.__wab_instance) {
    margin-top: 2px;
    width: 350px;
  }
}
.svg___5H8Fe {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__aXoyI {
  font-size: 20px;
}
.svg__u3Vfa {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__clSa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 25px;
  text-align: center;
  color: #666666;
  font-size: 12px;
  padding-top: 10px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__clSa {
    padding-top: 5px;
    margin-top: 15px;
  }
}
.freeBox__t4Z7 {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  align-self: center;
  background: #ffffff;
  min-width: 0;
  display: none;
  padding: 50px 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t4Z7 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.img__aoIym {
  object-fit: cover;
  max-width: 100%;
  height: 56px;
  flex-shrink: 0;
}
.img__aoIym > picture > img {
  object-fit: cover;
}
.img__aoIym > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
